@import url('../../../../assets/styles/global-styles.css');

.ratingcard{
    width: 500px;
    height: 200px;
    background: #1E1E1E;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.column{
    width: 50px;
    max-height: 150px;
    animation: red 5s infinite;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rating{
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    position: absolute;
    margin-left: 15px;
    bottom: 10px;
}

.ratingcount{
    margin-top: -40px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
}

.columnTwo{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50px;
    max-height: 100px;
    animation: orange 5s infinite;
}

.columnThree{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50px;
    max-height: 100px;
    animation: yellow 5s infinite;
}

.columnFour{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50px;
    max-height: 100px;
    animation: green 5s infinite;
}

.columnplace{
    display: flex;
    gap: 50px;
}

@keyframes red {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:rgb(126, 3, 3); left:200px; top:0px;}
    50%  {background-color:rgb(153, 47, 47); left:200px; top:200px;}
    75%  {background-color:rgb(126, 3, 3); left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

@keyframes orange{
    0%   {background-color:orange; left:0px; top:0px;}
    25%  {background-color:rgb(148, 106, 27); left:200px; top:0px;}
    50%  {background-color:rgb(201, 108, 2); left:200px; top:200px;}
    75%  {background-color:rgb(148, 106, 27); left:0px; top:200px;}
    100% {background-color:orange; left:0px; top:0px;}
}

@keyframes yellow{
    0%   {background-color:yellow; left:0px; top:0px;}
    25%  {background-color:rgb(247, 247, 91); left:200px; top:0px;}
    50%  {background-color:rgb(177, 177, 50); left:200px; top:200px;}
    75%  {background-color:rgb(247, 247, 91); left:0px; top:200px;}
    100% {background-color:yellow; left:0px; top:0px;}
}

@keyframes green {
    0%   {background-color:green; left:0px; top:0px;}
    25%  {background-color:rgb(108, 250, 108); left:200px; top:0px;}
    50%  {background-color:rgb(25, 117, 25); left:200px; top:200px;}
    75%  {background-color:rgb(108, 250, 108); left:0px; top:200px;}
    100% {background-color:green; left:0px; top:0px;}
}