@import url('../../../../assets/styles/global-styles.css');

.debtscard{
    width: 500px;
    max-height: 337.5px;
    background: #1E1E1E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px;
    overflow-y: auto;
}

.title{
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    margin-bottom: 10px;
}

.debtitem{
    display: flex;
    gap: 250px;
}

.text{
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-weight: 400;
    margin-bottom: 10px;   
}

.debtscard::-webkit-scrollbar
{
    background-color: #131313;
    border-radius: 8px;
    width: 7px;
    overflow: hidden;
}
.debtscard::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border-radius: 8px;
}