@import url('../../../../assets/styles/global-styles.css');

.passesblock{
    width: 280px;
    height: 200px;
    background-color: #1E1E1E;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.passes{
    font-size: 45px;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
}

span{
    margin-top: 10px;
}