@import url('../../../../assets/styles/global-styles.css');

.block{
    background: #222222;
    padding: 10px 20px;
    width: 250px;
    height: 140px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1{
    font-family: 'Roboto Serif', serif;
    color: #8e44d9;
}

.title{
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
}