@import url('../../../assets/styles/global-styles.css');

.usercard{
    width: 250px;
    height: 350px;
    background-color: #1C1C1C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardplace{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.useravatar{
    background-color: white;
    height: 200px;
    width: 200px;
    margin-top: -20px;
    border-radius: 100%;
}

.username{
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

.btn{
    margin-top: 15px;
    background-color: #313131;
    text-decoration: none;
    padding: 5px 35px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    transition: .2s ease;
}

.btn:hover{
    background-color: #111111;
}