@import url('../../../assets/styles/global-styles.css');
.title{
    font-family: 'Roboto Flex', serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
}

.avatar{
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.profileplacetwo{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profileplacetwoblock{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
}

.usercard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #1E1E1E;
    width: 500px;
    height: 700px;
    border-radius: 20px;
}

.profileplace{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nameuser{
    color: white;
    font-family: 'Roboto Flex', serif;
}

.userinfo{
    display: flex;
    flex-direction: column;
}

.role{
    color: white;
    font-family: 'Roboto Flex', serif;
}

.form{
    margin-top: 20px;
    display: block;
}

input[type='file'] {
    color: transparent;
}

.btn{
    background-color: #3d3d3d;
    margin-top: 20px;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Roboto Flex', serif;
    font-size: 15px;
    transition: .3s ease;
}

.btn:hover{
    background-color: #252525;
    cursor: pointer;
}