.item{
    width: 800px;
    min-height: 80px;
    background: #1E1E1E;
    border-radius: 15px;
}

.itemplace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}